@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1>Sales Web MVC - C# ASP .NET CORE 8</h1>
    <p>
        O projeto SalesWebMvc é um sistema de vendas desenvolvido como um exemplo prático para estudos em C# e ASP.NET Core MVC, utilizando a versão 8.0. 
        Este projeto tem como objetivo demonstrar a construção de um sistema web funcional, explorando conceitos fundamentais como CRUD, relacionamentos entre entidades, e filtragem de dados.
    </p>
</div>
