@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>@ViewData["Message"]</p>

    <p><strong>Professor:</strong> @ViewData["Professor"] </p>
    <p><strong>E-mail</strong> @ViewData["Email"] </p>

</div>
